.navbar {
	border-radius: 0px;
}
.navbar-default {
	background: rgb(64, 64, 247);
	border: 0px;
}
.navbar-nav {
	margin-left: 90px;
}
.nav > li {
	margin-right: 35px;
}
.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	line-height: 40px;
	height: 80px;
	border-top: 2px solid transparent;
	color: #ffffff;
	padding-right: 2px;
	padding-left: 2px;
}
.navbar-default .navbar-nav > li > a:hover {
	color: #000;
	border-top: 2px solid #fff;
	line-height: 40px;
	padding-right: 2px;
	padding-left: 2px;
}
.dropdown-menu {
	border-radius: 0px;
	padding: 0px;
	border: 0px;
}
.navbar-nav > li > .dropdown-menu,.dropdown-submenu .dropdown-menu  {
	background: rgba(64, 64, 247, 0.9);
}
.navbar-nav > li > .dropdown-menu ul {
	padding: 0px;
	margin: 0px;
}
.dropdown-menu > li > a {
	text-transform: uppercase;
	color: #fff;
	border-bottom: 1px solid rgba(64, 64, 247, 0.7);
	padding: 20px 20px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, height 0s, line-height 0s;
	-moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, height 0s, line-height 0s;
	-o-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, height 0s, line-height 0s;
	transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, height 0s, line-height 0s;
	background-color: #313030;
	color: #fff;
}
